*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  background-color: $light
  color: $text-color
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
p
  font-family: Open Sans
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 32px
  color: $gray
button
  border: 2px solid $button-color
  box-sizing: border-box
  border-radius: 8px
  padding: 13px 28px 13px 28px
  background-color: $light
  color: $button-color
  font-style: normal
  font-weight: 700