.navbar
  background-color: $light
  font-family: "Open Sans"
  line-height: 0
  &-
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 47px
    padding-bottom: 100px
  &-menu
    display: flex
    margin-right: 50px
    width: 260px
    margin-left: 582px
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
    padding-right: 0
    align-items: center
    justify-content: space-between

    &__item
      list-style: none
      padding-right: 15px
      font-weight: 600
      line-height: 22px
    &__link
      text-decoration: none
      color: $text-color
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
  &-bottom

.logo
  &-image
    width: 90px
.button
  border: 2px solid $button-color
  box-sizing: border-box
  border-radius: 8px
  padding: 13px 28px 13px 28px
  background-color: $light
  color: $button-color
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 22px
    

      