.hero
  &-wrapper
    display: flex
    justify-content: space-between
  &-left
    width: 535px
  &-right
    width: 488px
    height: 580px
    display: flex
    justify-content: center
    align-items: center
    background-color: $back
  &-image
    background: rgba(206, 197, 197, 0)
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.08)
  &-text
  &-title
    font-family: "Roboto Condensed"
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
.background
  &-image
