.history
  margin-top: 104px
  margin-bottom: 100px
  &-item
    position: relative
    z-index: 1
    &--big
      height: 380px
      margin-bottom: -4px
    &--small     
      max-width: 315px
      max-height: 197px
      margin-bottom: 28px

  &-top
    display: flex
    justify-content: space-between
    margin-left: 69px
    margin-bottom: 10px
  &-title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    margin-top: 0
  &-description
    max-width: 382px
    min-height: 117px
    margin-right: 101px
    margin-bottom: 10px
    margin-top: 0
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
  &-wrapper
    margin-left: 3px
  &-big
    margin-left: 69px
    margin-bottom: 33px
    position: relative
    max-width: 1007px
    max-height: 380px
  &-small
    
.small
  &-item
    display: flex
    justify-content: space-between
    margin-left: -2px


  &-wrapper
    display: flex
    justify-content: space-between
    max-width: 1005px
    margin-left: 70px
    margin-right: 50px
  &-top
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      margin-bottom: 9px
      color: $text-color
      margin-right: 120px
      letter-spacing: 0.2px
  &-text
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    color: #5A7184
  &-description
    display: flex
    justify-content: space-between
  &-button1
    position: absolute
    top: 43%
    left: 45%
    background-repeat: no-repeat
    background-size: 56px
    background-position: center
    border: none
    background-color: transparent
    cursor: pointer
  &-button2
    position: absolute
    top: 43%
    left: 45%
    background-repeat: no-repeat
    background-size: 275px
    background-position: center
    border: none
    background-color: transparent
    cursor: pointer
  &-button3
    position: absolute
    top: 43%
    left: 45%
    background-repeat: no-repeat
    background-size: 275px
    background-position: center
    border: none
    background-color: transparent
    cursor: pointer
.img
  &-small
    height: 200px
    margin-bottom: 20px
  &-big
    max-width: 1007px
    max-height: 380px
    

.video
  &-play
      position: absolute
      top: 37%
      left: 45%
      background-repeat: no-repeat
      background-size: 275px
      background-position: center
      border: none
      background-color: transparent
      cursor: pointer
.bookmarks
  width: 14px
  height: 19px
  fill: #1565D8
  margin-bottom: 30px
  cursor: pointer
  &--active
    fill: #FF0000
    
    