@media (max-width: 1220px)
  .container
    &--theme
      max-width: 1135px
  .swiper
    width: 94%
    &-button
      &-next
        right: 25px
      &-prev
        left: 1000px
  .publishers
    &-wrapper
      width: 1118px
  .big
    &-text
  .small
    &-link
      width: 245px
    &-image
      margin-right: 33px

@media (max-width: 1200px)
  .container
    max-width: 960px
  .hero
    &-button
      &__buy
        width: 210px
      &__read
        width: 210px
  .book
    &-wrapper
      width: 935px
    &-left
      width: 650px
      height: 820px
    &-leftcard
      width: 318px
      &__image
        margin-right: 13px
        width: 155px
        height: 233px
      &-button
        margin-right: 8px
      &-text
        margin-bottom: 15px
    &-rightcard
      margin-bottom: 13px
      &__image
        width: 115px
        height: 177px
      &-button
        margin-right: 0

    &-right
      width: 278px
      padding-left: 15px
      height: 897px
    &-rightcard
      &__image
        margin-right: 16px  
  .leftcard
    &-button
      margin-right: 8px
    &-bottom
      margin-right: 0
      width: 135px
    &-description
      width: 120px
    &-title
      -webkit-line-clamp: 2
    &-text
      font-size: 14px
    &-price
      font-size: 18px
  .rightcard
    &-title
      font-size: 18px
      line-height: 28px
    &-description
      width: 115px
    &-price
      font-size: 18px
  .recomendations
    &-more
      width: 650px
  h3
    font-size: 18px
    line-height: 28px
  .top
    width: 254px
  .hero
    &-description
      max-width: 496px
      margin-top: 36px
  .navbar
    &-menu
      margin-left: 329px
      margin-right: 0
  .theme
    &-slide
      &__item
        font-size: 16px
      &__subtitle
        font-size: 12px
  .unreleased
    &-swiper
      &-button
        &-prev
          left: 84.6%
  .theme
    &-slide
      &__title
        font-size: 14px
    &-swiper
      &-button
        &-next
          right: 0px
        &-prev
          left: 0
  .swiper
    width: 94%

  .history
    &-top
      margin-left: 0
    &-description
      margin-right: 0
    &-big
      margin-left: 0
      margin-right: 0
      margin-bottom: 10px
    &-small
      width: 32%
    &-item
      &--big
        max-height: 380px
        width: 100%
        margin-bottom: 16px
  .small
    &-wrapper
      margin-left: 0
      margin-right: 0
    &-text
      font-size: 15px
    &-top
      &-title
        font-size: 20px
  .small
    &-top
      &__title
        font-size: 20px
    &-image
      margin-right: -52px
    &-title
      font-size: 18px
  .big
    &-blog
      margin-right: 15px
      width: 57%
    &-text
      width: 120px
  .blog
    &-top
      margin-right: 0


  .more
    margin-right: 3px
  .subscription
    &-title
      margin-right: 0px
  a
    &:hover
      color: $text-color

  .publishers
    &-wrapper
      width: 100%
    &-image
      &--1
        display: none
      &--2
        display: none
  .small
    &-link
      width: 320px

@media (max-width: 1110px)
  .publishers
    &-wrapper
      width: 96%
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-menu
      margin-left: 92px
    &-top
      padding-bottom: 66px
  .hero
    &-image
      width: 200px
    &-left
      width: 100%
    &-right
      margin-top: 22px
      width: 700px
    &-wrapper
      flex-direction: column-reverse
      align-items: center
    &-text
      text-align: center
      margin-bottom: 0px
    &-title
      text-align: center
      font-size: 40px
      line-height: 47px
      margin-bottom: 23px
      margin-left: -2px
    &-autor
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 24px
      margin-left: -5px
      margin-bottom: 32px
    &-description
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 23px
      width: 100%
      max-width: 700px
      margin-top: 34px
      margin-bottom: 14px
    &-button
      justify-content: center
      &__buy
        width: 176px
        height: 40px
        font-size: 16px
        line-height: 22px
        margin-bottom: 17px
        margin-right: 0
        padding: 9px 17px 9px 15px
        margin-right: 17px
      &__read
        width: 176px
        height: 40px
        font-size: 16px
        line-height: 22px
        margin-bottom: 17px
        margin-right: 0
        padding: 7px 18px 12px 15px
    &-right
      margin-top: 22px
      height: 330px
  .backgraund
    &-image
      width: 200px
  .book
    &-title
      text-align: center
    &-wrapper
      width: 700px
      flex-direction: column
      align-items: center
    &-right
      flex-direction: row
      width: 700px
      height: 500px
      justify-content: space-between
      flex-wrap: wrap
    &-rightcard
      width: 50%
      margin-bottom: 0
  .top
    width: 700px
  .recomendations
    margin-bottom: 44px
    &-favorite
      margin: 25px auto
    &-line
      display: none
  .unreleased
    &-swiper
      &-button
          &-prev
            left: 78.6%
  .img
    &-small
      object-fit: cover
    &-big

  .small
    &-top
      &__title
        margin-right: 0
    &-title
      font-weight: bold
  .blog
    justify-content: start
    &-top
      flex-direction: column
      align-items: center
      margin-top: 0
    &-wrapper
      display: flex
      flex-direction: column
      align-items: center
    &-block
      display: flex
      flex-direction: column
      
    &-button
      position: absolute
      margin-top: 1127px      
  .big
    &-blog
      margin-right: 0
      width: 100%
    &-image
      object-fit: cover
      border-radius: 8px
      width: 557px
    &-description
      max-width: 600px
      margin-bottom: 36px
      margin-left: 0
    &-text
      width: 276px
    &-title
      margin-left: 0
  .small
    &-image
      &--1
        width: 291px
        margin-right: 36px
      &--2
        width: 250px
        margin-right: 36px
      &--3
        width: 304px
  .subscription
    &-item
      width: 360px
    &-button
      margin-right: 2px
      font-size: 14px
    &-title
      font-size: 30px
    &-form
      width: 400px
  .footer
    &__main
      &-item
        margin-right: 15px
    &__list
      &-title
        font-size: 17px
      &-link
        font-size: 15px
  .publishers
    &-wrapper
      width: 94%
    &-image
      margin-right: 65px
      &--1
        display: none
      &--2
        display: none
      &--3
        display: none
      &--4
        display: none       
  .swiper
    &-slide
      margin-right: 9px
      &--first
        margin-top: 10px
      &--second
        margin-top: 10px
      &--forth
        margin-top: 10px      
@media (max-width: 767px)
  .container
    max-width: 91%
  body
    padding-top: 108px
  .to-top
    display: none
  .navbar
    max-width: 100%
    &--mobile
      &_fixed
        background-color: #fff
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 999999999
        width: 100%
    &-bottom
      display: none
      position: fixed
      top: 108px
      left: 0
      right: 0
      bottom: 0
      background-color: #fff
      &--visible
        display: block
        z-index: 9999999
        height: 205px
    &-button
      &--desktop
        display: none
      &--mobile
        display: block
        margin: auto
    &-top
      padding-bottom: 33px
    &--left
      display: none
    &-top
      &__menu
        &-button
          display: flex
          justify-content: space-between
          flex-direction: column
    &-menu
      display: flex
      flex-direction: column
      margin: auto
      width: 100%
      padding-left: 0
      &__item
        margin-bottom: 20px
        padding-right: 0
  .hero
    &-left
      width: 100%
    &-right
      margin-top: 22px
      width: 100%
    &-wrapper
      flex-direction: column
      align-items: center
    &-text
      text-align: center
      margin-bottom: 0px
    &-title
      text-align: center
      font-size: 32px
      line-height: 40px
      margin-bottom: 23px
      margin-left: -2px
    &-autor
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 24px
      margin-left: -5px
      margin-bottom: 32px
    &-description
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 23px
      width: 100%
      margin-top: 34px
      margin-bottom: 14px
    &-button
      flex-direction: column
      align-items: center
      &__buy
        width: 176px
        height: 40px
        font-size: 16px
        line-height: 22px
        margin-bottom: 17px
        margin-right: 0
        padding: 9px 17px 9px 15px
      &__read
        width: 176px
        height: 40px
        font-size: 16px
        line-height: 22px
        margin-bottom: 17px
        margin-right: 0
        padding: 7px 18px 12px 15px
    &-right
      margin-top: 22px
      height: 330px
  .recomendations
    margin-top: -45px
    margin-bottom: 54px
    &-more
      border-style: none
      width: 280px
      height: 48px
      padding: 14px 56px 12px 55px
      letter-spacing: 0.2px
      border-radius: 8px
      background: rgba(5, 0, 255, 0.1)
      margin-top: 123px
      
    &-title
      &__button
        color: #1565D8
        opacity: 1
        font-size: 14px
        line-height: 20px
    &-title
      font-size: 28px
      line-height: 36px
    &-favorite
      margin: 0
      padding-bottom: 20px
  .book
    text-align: center
    margin-bottom: 54px
    &-left
      flex-wrap: nowrap
      width: 279px
      height: 334px
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 72px
    &-wrapper
      flex-direction: column
      flex-wrap: nowrap
      width: 100%
    &-leftcard
      flex-direction: column
      align-items: center
      padding: 16px
      width: 100%
      max-height: 312px
      min-height: 442px
      &-title
        font-weight: 500
        font-size: 20px
        line-height: 24px
      &__image
        margin-right: -7px
        margin-bottom: 16px
        margin-top: -41px
        z-index: 98
        position: absolute
        width: 200px
        height: 265px
        margin-left: 5px
      &--w2
        display: none
      &--w3
        display: none
      &--w4
        display: none
      &--w5
        display: none
      &--w6
        display: none
    &-right
      margin-top: -11px
      padding-top: 0
      width: 290px
      padding-left: 16px
      margin-top: -29px
      height: 797px
      flex-direction: column
    &-rightcard
      margin-bottom: -4px
      &__image
        width: 96px
        height: 145px
        margin-right: 12px
  h3
    font-weight: 500
    font-size: 20px
    line-height: 24px
  .leftcard
    &-title
      margin-top: 3px
      margin-right: -6px
      margin-bottom: 12px
    &-description
      text-align: center
      align-items: center
      margin-top: 235px
    &-text
      margin-bottom: 16px
      font-size: 14px
      line-height: 20px
      margin-right: -6px
    &-price
      font-size: 16px
      line-height: 20px
      margin-bottom: 21px
    &-bottom
      margin-right: 0px
      width: 180px
    &-button
      margin-left: 17px
      width: 115px
      height: 36px
      padding: 7px 20px
      margin-right: 21px
  .rightcard
    &-title
      line-height: 24px
      font-size: 15px
      letter-spacing: 0.1px
      margin-top: -5px
    &-description
      text-align: start
      max-width: 110px
    &-price
      margin-bottom: 11px
    &-button
      margin-left: -1px
      letter-spacing: 0.7px
  .top
    width: 290px
  .theme
    padding-bottom: 138px
    padding-top: 39px
    &__icon
      margin-top: 16px
      margin-bottom: 17px
      width: 36px
    &-slide
      min-height: 182px
      &__title
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 8px
      &__subtitle
        font-size: 12px
        line-height: 20px
        text-align: center
    &-swiper
      &__wrapper
        max-height: 500px
    &-swiper
      &-button
        top: 115%
        width: 48px
        height: 48px
        padding: 15px 15px
        &-next
          right: 150px
        &-prev
          left: 150px
          margin-top: 0px
    &-swiper
      &__wrapper
        max-height: 500px


  .slider-wrapper
    max-width: 471px
    margin-right: auto
    margin-left: auto

  .unreleased
    padding-top: 1px
    padding-bottom: 135px
    &-book
      width: 72%
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.4px
      margin-bottom: -93px
      margin-left: 0px
    &-swiper
      width: 206px
      &-button
        background-size: 48px
        top: 126%
        &-next
          right: 26%
        &-prev
          left: 26%
          margin-top: 4px
          padding-top: 47px
          padding-bottom: 0
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 44px
      margin-left: 0
      padding-top: 47px
      padding-bottom: -93px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 44px
      margin-left: 0
    &-swiper
      &-button
        background-size: 48px
        top: 126%
        &-next
          right: 26%
        &-prev
          left: 26%
          margin-top: 4px

  .history
    margin-bottom: 6px
    margin-top: 43px
    &-wrapper
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
    &-title
      font-size: 28px
      line-height: 36px
    &-small
      margin-top: -10px
      margin-bottom: 10px
      width: 48.6%
      &--3
        display: none
    &-top
      flex-direction: column
      margin-left: 0
      text-align: center
      align-items: center
      &__title
        font-size: 28px
        line-height: 36px
    &-description
      text-align: center
      margin-right: 6px
      margin-left: 8px
      max-height: 125px
      font-size: 18px
      line-height: 25px
      margin-bottom: 14px
    &-big
      margin-left: 0
      margin-right: 0
      margin-bottom: 25px
      width: 90%
  .img
    &-big
      width: 629px
      object-fit: cover
      margin-bottom: 10px

    &-small
      object-fit: cover
      width: 340px
      margin-left: -1px
      margin-top: 0
      margin-bottom: 10px
  .small
    &-wrapper
      justify-content: space-between
      margin-left: 0
      width: 90%
    &-top
      &__title
        text-align: center
        margin-bottom: 7px
        margin-right: 0
    &-item
      text-align: center
      margin-bottom: 26px
      flex-direction: column
      align-items: center
    &-description
      align-items: center
      flex-direction: column
      align-items: center
    &-text
      margin-bottom: 15px
    &-title
      margin-bottom: 15px
      font-size: 18px
  .bookmark
    width: 11px
  .publishers
    &-title
      margin-bottom: 64px
      margin-right: 17px
      margin-left: 0px
      line-height: 30px
      margin-top: 23px
    &-wrapper
      width: 87%
      margin-left: 65px
    &-image
      width: 188px
      margin-right: -18px
      margin-bottom: 17px
      margin-left: -11px
      &--1
        display: none
      &--2
        display: none
      &--3
        display: none
      &--4
        display: none
      &--5
        display: none
      &--6
        display: none
    &-block

      line-height: 31px
      margin-left: 7px
      height: 346px
      margin-top: -32px
      padding-top: 16px
  .blog
    text-align: center
    &-title
      font-size: 28px
      line-height: 36px
    &-block
      margin-top: 60px
      text-align: center
    &-item
      height: 150px
      margin-left: 5px
    &-top
      flex-direction: column
      margin-top: 63px
      text-align: center
      align-items: center
      margin-right: 2px
    &-wrapper
      flex-direction: column
    &-button
      position: absolute
      margin-top: 1118px
      width: 161px
  .big
    &-title
      margin-left: 0
    &-text
      align-items: start
      text-align: start
      width: 263px

    &-blog
      margin-right: 6px
      margin-left: 0
      margin-bottom: 17px
      width: 72%
    &-image
      max-height: 300px
      max-width: 400px
      margin-bottom: 0
  .small
    &-description
      align-items: start
      text-align: start
    &-image
      margin-right: 54px
      object-fit: cover
      width: 240px
      height: 150px
      border-radius: 8px
    &-data
      margin-top: 0
      margin-bottom: 15px
  .subscription
    background-image: url(../img/background.jpg)
    height: 305px
    background-repeat: no-repeat
    &-title
      font-size: 28px
      line-height: 36px
      width: 100%
      text-align: left
      margin-right: 0
      padding-right: 0
      margin-left: 0
      margin-top: 80px
    &-block
      flex-direction: row
      padding: 0px 5px 80px 0px
      margin-top: 97px
    &-item
      margin: 70px 0px 12px 9px
      letter-spacing: 0.3px
      width: 272px
      align-items: flex-start
      min-height: 112px
    &-input
      text-align: center
      margin: 0
    &-form
      flex-direction: column
      margin-top: 0
      padding-left: 6px
      padding-right: 38px
      width: 271px
      
    &-button
      width: 266px
      margin-right: 73px
      letter-spacing: 0.5px
      margin-top: 0
      min-height: 39px
      margin-right: 0
      top: 58px
    &-icon
      margin-left: 19px
      margin-top: 19px
  .invalid
    &-form
      margin-right: 0
  .footer
    padding-top: 45px
    margin-right: 8px
    &-wrapper
      margin-right: auto
      margin-left: auto
      max-width: 700px
    &__main
      &-item
        margin-top: 45px
        margin-left: 24px
      &-text
        margin-top: 11px
        margin-bottom: 15px
        margin-left: -11px
    &__list
      &-title
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: #183B56
        margin-bottom: 18px
      &-link
        font-size: 14px
        line-height: 20px
      &-item
        margin-bottom: 13px
        &:last-child
          margin-bottom: 0
  .footer
    &-wrapper
      flex-wrap: wrap
    &__main
      &-item
        order: 2
        margin-top: 30px
  .prodact
    margin-right: 46px
    margin-bottom: 37px
  .company
    margin-right: 58px
    margin-bottom: 43px
  .footer
    &-bottom
      display: none
    &-wrapper
      margin-bottom: 0
    &__main
      &-item
        display: flex
        flex-direction: column
        align-items: center
        margin: auto
      &-text
        text-align: center
  .more
    margin-right: 0
  .footer
    &-bottom
      display: none
      &-wrapper
        margin-bottom: 0
        justify-content: center
      &__main
        &-item
          display: flex
          flex-direction: column
          margin: auto
        &-text
          text-align: center
  .container
    &-subscription
      background-image: url(../img/background.jpg)
      z-index: 99

  .modal
    &__dialog
      max-width: 98%
      padding: 33px
      max-height: 99%
      margin-top: 139px
    &__overlay
  .modal
    &__info
      margin-top: 0
      margin-bottom: 15px
    &__button
      order: 2
      margin-right: 0
      &-wrapper
        flex-direction: column
@media (max-width: 590px)
  .big
    &-image
      max-width: 367px
    &-text
      width: 190px
  .small
    &-link
      width: 200px
    &-image
      width: 200px
      margin-right: 15px
  .blog
    &-button
      margin-top: 1080px
  .publishers
    &-wrapper
      width: 85%
    &-image
      margin-right: -21px
      width: 160px
      margin-left: -20px
  .swiper
    &-wrapper
    &-slide
      &--second
        margin-top: 0

@media (max-width: 520px)
  .theme
    &-swiper
      &-button
        &-prev
          left: 85px
        &-next
          right: 85px

  .big
    &-text
      width: 150px
    &-image
      height: 200px
      margin-bottom: 20px
      max-width: 248px
  .small
    &-link
      width: 140px
      height: 140px
      &__image
        width: 140px
        height: 140px
        object-fit: cover
        border-radius: 8px
    &-image
      width: 140px
      margin-right: 15px
    &-top
      &__title
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
    &-text
      font-family: 'Open Sans'
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 20px
  .swiper
    &-slide
      &--un
        height: 100px
  .swiper
    &-slide
      &--un
        width: 206px
  .swiper
    margin-left: -4px
    margin-right: 34px
    &-slide
      &--un
        width: 205px
    &-swiper
      &-button
        top: 124%
        &-next
          right: 83px
        &-prev
          left: 93px
    &-slide
      width: 140px
      margin-right: 9px
      &--therd
        order: -1
        width: 139.5px
      &--first
        order: -3
        margin-top: 10px
        width: 139.5px
      &--second
        margin-top: 10px
      &--forth
        order: -2
        margin-top: 10px
  .publishers
    &-wrapper
      width: 85%
  .history
    &-big
      width: 300px
    &-item
      &--small
        max-width: 140px
        max-height: 140px
      &--big
        width: 300px
    &-small
      width: 140px
  .img
    &-small
      width: 140px
      height: 140px
    &-big
      width: 300px
  .small
    &-wrapper
      width: 300px
  .video
    &-play
      left: 40%
  .blog
    &-button
      margin-top: 1145px
  .subscription
    background-image: url(../img/background.jpg)
    height: 305px
    background-repeat: repeat
    &-title
      font-size: 28px
      line-height: 36px
      width: 100%
      text-align: left
      margin-right: 0
      padding-right: 0px
      width: 300px
      margin-left: 8px
      margin-top: 25px
    &-block
      flex-direction: column
      padding: 0px 24px 80px 0px
      margin-top: 97px
    &-item
      margin: 8px 0px 12px 9px
      letter-spacing: 0.3px
      width: 272px
      align-items: flex-start
      min-height: 112px
    &-input
      width: 207px
    &-form
      flex-direction: column
      margin-top: 0
      padding-left: 0
      width: 272px
    &-button
      width: 250px
      margin-right: 18px
      letter-spacing: 0.5px
      margin-top: 0
      min-height: 39px
    &-icon
      margin-left: 19px
      margin-top: 19px
  .invalid
    &-form
      margin-right: 0
  .footer
    &__secondary
      &-item
        margin-right: 18px
  .video
    &-play
      left: 34%
  
@media (max-width: 370px)
  .container
    max-width: 91%
  body
    padding-top: 108px
  .navbar
    max-width: 100%
    &--mobile
      &_fixed
        background-color: #fff
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 999999999
    &-bottom
      display: none
      position: fixed
      top: 108px
      left: 0
      right: 0
      bottom: 0

      &--visible
        display: block
        z-index: 9999999

    &-top
      padding-bottom: 33px

    &--left
      display: none
    &-top
      &__menu
        &-button
          display: flex
          justify-content: space-between
          flex-direction: column
          margin-right: 12px
    &-menu
      display: flex
      flex-direction: column
      margin-left: 0
      width: 100%
      &__item
        margin-bottom: 20px
  .hero
    &-left
      width: 100%
    &-right
      margin-top: 22px
      width: 280px
    &-wrapper
      flex-direction: column
      align-items: center
    &-text
      text-align: center
      margin-bottom: 0px
      margin-right: 8px
    &-title
      text-align: center
      font-size: 32px
      line-height: 40px
      margin-bottom: 23px
      margin-left: -2px
    &-autor
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 24px
      margin-bottom: 32px
      margin-left: -2px
      letter-spacing: 0.2px
    &-description
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 23px
      width: 100%
      margin-top: 34px
      margin-bottom: 14px
      &__word
        margin-left: -12px
    &-button
      flex-direction: column
      align-items: center
      margin-right: 10px

      &__buy
        width: 176px
        height: 40px
        font-size: 16px
        line-height: 22px
        margin-bottom: 17px
        margin-right: 0
        padding: 9px 17px 9px 15px
      &__read
        width: 176px
        height: 40px
        font-size: 16px
        line-height: 22px
        margin-bottom: 17px
        margin-right: 0
        padding: 7px 18px 12px 15px
    &-right
      margin-top: 22px
      height: 330px
    &-image
      width: 143px
      margin-right: 11px
  .recomendations
    margin-top: -45px
    margin-bottom: 54px
    &-more
      border-style: none
      width: 280px
      height: 48px
      padding: 10px 56px 12px 55px
      letter-spacing: 0.2px
      border-radius: 8px
      background: rgba(5, 0, 255, 0.1)
      margin-top: 8px
      margin-right: 7px
      margin-bottom: 4px
    &-title
      &__button
        color: #1565D8
        opacity: 1
        font-size: 14px
        line-height: 20px
    &-title
      font-size: 28px
      line-height: 36px
    &-favorite
      margin-left: -18px
      margin-top: 40px
  .book
    text-align: center
    margin-bottom: 54px
    &-left
      flex-wrap: nowrap
      width: 279px
      height: 334px
      margin-right: 10px
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 72px
      margin-right: 8px
    &-wrapper
      flex-direction: column
      flex-wrap: nowrap
    &-leftcard
      flex-direction: column
      align-items: center
      padding: 16px
      width: 280px
      max-height: 312px
      min-height: 312px
      &-title
        font-weight: 500
        font-size: 20px
        line-height: 24px
      &__image
        margin-right: -7px
        margin-bottom: 16px
        margin-top: -41px
        z-index: 98
        position: absolute
        width: 95px
        height: 137px
        right: 123px

        margin-left: 5px
      &--w2
        display: none
      &--w3
        display: none
      &--w4
        display: none
      &--w5
        display: none
      &--w6
        display: none
    &-right
      padding-top: 12px
      width: 290px
      padding-left: 13px
      margin-top: -38px
      margin-left: -4px
      height: 804px
      justify-content: flex-start
    &-rightcard
      margin-bottom: -4px
      &__image
        width: 96px
        height: 143px
        margin-bottom: 5px
        margin-right: 18px

  h3
    font-weight: 500
    font-size: 20px
    line-height: 24px
  .leftcard
    &-title
      margin-top: 3px
      margin-right: -6px
      margin-bottom: 12px
      max-width: 234px
      width: 235px
    &-description
      text-align: center
      align-items: center
      margin-top: 112px
      margin-right: 7px
    &-text
      margin-bottom: 16px
      font-size: 14px
      line-height: 20px
      margin-right: -6px
    &-price
      font-size: 16px
      line-height: 20px
      margin-bottom: 21px
    &-bottom
      margin-right: 0px
      width: 180px
    &-button
      margin-left: 17px
      width: 115px
      height: 36px
      padding: 7px 20px
      margin-right: 21px
  .rightcard
    &-title
      line-height: 24px
      font-size: 15px
      letter-spacing: 0.1px
      margin-bottom: 12px
      margin-top: -4px
      margin-left: -1px
    &-description
      text-align: start
      max-width: 112px
    &-price
      margin-bottom: 14px
      font-size: 20px
    &-button
      margin-left: -1px
      letter-spacing: 0.7px
  .top
    width: 290px
  .theme
    padding-bottom: 138px
    padding-top: 39px
    &__icon
      margin-top: 16px
      margin-bottom: 17px
      width: 36px
    &-slide
      min-height: 182px
      max-width: 140px
      margin-right: 2px
      margin-top: 1px
      &__title
        font-size: 16px
        line-height: 19.5px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 8px
        margin-bottom: 11px
        &--first
          margin-bottom: 32px
      &__link
        width: 110px
      &__subtitle
        font-size: 12px
        line-height: 20px
        text-align: center
        margin-left: 2px
    &-swiper
      margin-left: -4px
      margin-right: 34px
      &__wrapper
        max-height: 500px
    &-swiper
      &-button
        top: 114.1%
        width: 48px
        height: 48px
        padding: 15px 15px
        &-next
          right: 102px
        &-prev
          left: 100px
          margin-top: 0px
    &-swiper
      &__wrapper
        max-height: 500px
  .icon
    width: 14px
  .container
    &--theme
      max-width: 310px
      margin-left: 3px
  .swiper
    &-slide
      &--un
        height: 100px
  .swiper
    &-slide
      &--un
        width: 206px
  .swiper
    margin-left: -4px
    margin-right: 34px
    &-slide
      &--un
        width: 205px
    &-swiper
      &-button
        top: 124%
        &-next
          right: 83px
        &-prev
          left: 93px
    &-slide
      width: 140px
      margin-right: 9px
      &--therd
        order: -1
        width: 139.5px
      &--first
        order: -3
        margin-top: 10px
        width: 139.5px
      &--second
        margin-top: 10px
      &--forth
        order: -2
        margin-top: 10px

  .slider
    &-wrapper
      max-width: 471px
      margin-right: auto
      margin-left: auto
  .container
    &--unreleased
      margin-left: 7px
  .unreleased
    padding-bottom: 135px
    &-book
      width: 72%
    &-swiper
      width: 206px
      &-button
        background-size: 48px
        top: 126%
        &-next
          right: 30%
        &-prev
          left: 28.3%
          margin-top: 4px
          padding-top: 47px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 41px
      margin-left: 0
    &-swiper
      &-button
        background-size: 48px
        top: 127%
        &-next
          right: 28%
        &-prev
          left: 28.3%
          margin-top: 4px

  .history
    margin-top: 43px
    &-title
      margin-top: 1px
    &-wrapper
      flex-direction: column
    &-top
      flex-direction: column
      margin-left: -11px
      text-align: center
      &__title
        font-size: 28px
        line-height: 36px
    &-description
      text-align: center
      margin-right: 6px
      margin-left: 8px
      max-height: 125px
      font-size: 18px
      line-height: 25px
      margin-bottom: 24px
      margin-top: 2px
      max-width: 266px
    &-big
      margin-left: -11px
    &-item
      &--big
        max-height: 200px
  .img
    &-big
      height: 210px
      width: 300px
      object-fit: cover

    &-small
      object-fit: cover
      height: 138px
      width: 140px
      margin-left: -1px
      margin-top: 0
      margin-bottom: -16px
  .history
    margin-bottom: 6px
    &-title
      font-size: 28px
      line-height: 36px
    &-small
      width: 140px
      margin-left: -5px
      margin-top: -10px
      margin-bottom: 10px

      &--3
        display: none
  .small
    &-wrapper
      justify-content: space-between
      margin-left: -4px
      width: 294px
    &-top
      &__title
        font-weight: 500
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.3px
        text-align: center
        margin-bottom: 7px
        margin-right: 0
    &-item
      text-align: center
      font-weight: normal
      font-size: 12px
      line-height: 20px
      margin-bottom: 26px
      flex-direction: column
      align-items: center
    &-description
      align-items: center
      flex-direction: column
      align-items: center
    &-text
      font-size: 12px
      line-height: 20px
      margin-bottom: 15px
    &-title
      margin-bottom: 6px

    &-image
      width: 178px
      margin-right: 57px
    &-button1
      width: 23px
      top: 45%
      left: 41%
    &-button2
      width: 23px
      top: 45%
      left: 41%    
  .bookmarks
    width: 11px
    height: 15px
  .publishers
    &-title
      margin-bottom: 26px
      margin-right: 17px
      line-height: 30px
      margin-left: -2px
      margin-top: 22px
    &-wrapper
      width: 100%
      margin-left: 22px
      margin-top: 33px
      width: 80%
    &-image
      width: 95px
      height: 30px
      margin-right: 0
      margin-bottom: 0
      margin-left: 0
      margin-top: -6px
      &--w1
        margin-top: -2px
      &--w3
        width: 95px
        height: 30px
        margin-right: 0px
        margin-bottom: 0
        margin-left: 6px
        margin-top: -9px        
      &--w4
        width: 86px
        margin-right: 9px
        margin-top: -13px
      &--w5
        margin-left: 1px
      &--w6
        margin-left: 8px
        margin-top: -15px
      &__item
        width: 100px
        margin-right: -45px
        &--w1
          width: 87px
        &--11
          margin-top: 3px
        &--w2
          width: 90px
        &--w3
          width: 92px
        &--w4
          width: 87px
        &--w5
          width: 88px
          margin-top: -8px
      &--1
        display: none
      &--2
        display: none
      &--3
        display: none
      &--4
        display: none
      &--5
        display: none
      &--6
        display: none
    &-block

      line-height: 31px
      margin-left: 7px
      height: 346px
      margin-top: -32px
      padding-top: 16px
  .video
    &-play
      left: 40%
      width: 58px
      top: 38%
  .blog
    text-align: center
    &-block
      margin-top: 60px
      text-align: center
    &-item
      height: 92px
      margin-left: 77px
      margin-bottom: 29px
    &-top
      flex-direction: column
      margin-top: 4px
      text-align: center
      align-items: center
      margin-right: 2px
    &-wrapper
      flex-direction: column
    &-title
      font-size: 28px
      line-height: 36px
      margin-right: 5px
      margin-bottom: 49px
    &-button
      position: absolute
      margin-top: 717px
      width: 161px
      margin-right: 7px
      font-size: 14px
  .big
    &-title
      font-size: 16px
      line-height: 20px
      margin-bottom: 10px
      margin-left: -40px
    &-description
      font-weight: normal
      font-size: 12px
      line-height: 24px
      text-align: left
      margin-left: 0
      letter-spacing: 0
    &-text
      align-items: start
      text-align: start
      width: 171px
      margin-top: -1px
    &-blog
      margin-right: 8px
      margin-left: 6px
      margin-bottom: -7px
      width: 100%
    &-image
      max-height: 120px
      margin-bottom: 19px
      max-width: 281px
      &__item
        width: 322px
        height: 118px
  .small
    &-blog
      margin-right: 83px
    &-description
      align-items: start

      text-align: start
    &-image
      margin-right: 21px
      object-fit: cover
      width: 90px
      height: 90px
    &-title
      font-weight: 500
      font-size: 14px
      line-height: 20px
      letter-spacing: 0.175px
      text-align: start
    &-data
      font-size: 10px
      line-height: 20px
      margin-top: 0
      margin-bottom: 5px
    &-link
      width: 90px
      height: 90px
      &__image
        width: 90px
        height: 90px

  .link
    font-size: 10px
    line-height: 20px
  .subscription
    background-image: url(../img/background.jpg)
    height: 308px
    &-title
      font-size: 28px
      line-height: 36px
      width: 100%
      text-align: left
      margin-right: 0
      padding-right: 0px
      width: 213px
      margin-left: 4px
      margin-top: 28px
      &__word
        display: block
    &-block
      flex-direction: column
      padding: 0px 24px 80px 0px
      margin-top: 97px
    &-item
      margin: 8px 0px 12px 4px
      letter-spacing: 0.3px
      width: 272px
      align-items: flex-start
      min-height: 112px
    &-input
      margin: 9px 0 10px 0
      width: 207px
      padding-right: 101px

    &-form
      flex-direction: column
      margin-top: 0
      padding-left: 0
      width: 272px
    &-button
      width: 250px
      letter-spacing: 0.5px
      margin-top: 0
      height: 42px
      margin-right: 18px
      font-size: 16px
    &-icon
      margin-left: 19px
      margin-top: 19px
      z-index: 99
  .invalid
    &-form
      font-size: 14px
  .footer
    padding-top: 45px
    margin-right: 8px
    &-wrapper
      margin-right: auto
      margin-left: 0px
      max-width: 269px
    &__main
      &-item
        margin-top: 45px
        margin-left: 24px
      &-text
        margin-top: 8px
        margin-left: -11px
    &__list
      &-title
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: #183B56
        margin-bottom: 18px
        margin-left: 0
      &-link
        font-size: 14px
        line-height: 20px
      &-item
        margin-bottom: 13px
        &:last-child
          margin-bottom: 0
  .footer
    &-wrapper
      flex-wrap: wrap
    &__main
      &-item
        order: 2
        margin-top: 30px
  .prodact
    margin-right: 46px
    margin-bottom: 37px
  .company
    margin-right: 57px
    margin-bottom: 43px
  .footer
    &-bottom
      display: none
    &-wrapper
      margin-bottom: 0
      justify-content: start
    &__main
      &-item
        display: flex
        flex-direction: column
        margin-left: 22px
        margin-right: auto
        align-items: center
        margin-top: 0
      &-text
        text-align: center
        margin-top: 8px
  .more
    margin-right: 0
  .footer
    &-bottom
      display: none
      &-wrapper
        margin-bottom: 0
        justify-content: start
      &__main
        &-item
          display: flex
          flex-direction: column
          margin-left: auto
          margin-right: auto
          align-items: center
          margin-top: 0
        &-text
          text-align: center
          margin-top: 8px
  .container
    &-subscription
      background-image: url(../img/background.jpg)
      z-index: 99

  .modal
    &__dialog
      max-width: 98%
      padding: 33px
      max-height: 99%
      margin-top: 139px
    &__overlay
  .modal
    &__info
      margin-top: 0
      margin-bottom: 15px
    &__button
      order: 2
      margin-right: 0
      &-wrapper
        flex-direction: column