@media (max-width: 767px)
  .container
    max-width: 91%
  .navbar
    &-bottom
      display: none
    &-button
      display: none
  .hero
    &-wrapper
      flex-direction: column
    &-text
      text-align: center
    &-title
      text-align: center
      font-size: 32px
      line-height: 40px
    &-autor
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 24px
    &-description
      text-align: center
      font-weight: normal
      font-size: 16px
      line-height: 23px
    &-button
      flex-direction: column
      align-items: center
    &-right

  .book
    &-leftcard
      flex-direction: column
      align-items: center

      &--w2
        display: none
      &--w3
        display: none
      &--w4
        display: none
      &--w5
        display: none
      &--w6
        display: none
  .leftcard
    &-description
      text-align: center
      align-items: center

  .theme
    &__icon
      margin-top: 27px
      margin-bottom: 16px
    &-slide
      min-height: 182px
      &__title
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 8px
      &__subtitle
        font-size: 12px
        line-height: 20px
        text-align: center
    &-swiper
      &__wrapper
        max-height: 500px
      &-button
        top: 124%
        &-next
          right: 83px
        &-prev
          left: 93px
  .swiper
    &-slide
      &--un
        width: 206px
    &-swiper
      &-button
        top: 124%
        &-next
          right: 83px
        &-prev
          left: 93px

  .slider-wrapper
    max-width: 471px
    margin-right: auto
    margin-left: auto

  .unreleased
    padding-top: 47px
    padding-bottom: 135px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 44px
      margin-left: 11px
    &-swiper
      &-button
        background-size: 48px
        top: 129%
        &-next
          right: 26%
        &-prev
          left: 29.3%
          margin-top: -18px
  .history
    &-wrapper
      flex-direction: column
    &-top
      flex-direction: column
      margin-left: 0
      text-align: center
    &-title
      font-size: 28px
      line-height: 36px
    &-description
      text-align: center
      margin-right: 0
      max-height: 125px
      font-size: 18px
      line-height: 25px
    &-big
      margin-left: 0
  .img
    &-big
      height: 210px
      width: 300px
    &-small
      object-fit: cover
      height: 140px
  .history
    &-item

    &-small
      width: 140px

      &--3
        display: none
  .small
    &-wrapper
      justify-content: space-between
      margin-left: 0
      width: 294px
    &-title
      font-weight: 500
      font-size: 16px
      line-height: 20px
    &-text
      font-weight: normal
      font-size: 12px
      line-height: 20px
    &-description
      align-items: center
      flex-direction: column
  .img
    &-big
      &--button
        left: 115px
        transform: translateY(56%)
  .publishers
    &-image
      width: 171px
      margin-right: 5px
      margin-right: -36px
      margin-bottom: 5px
      &--1
        display: none
      &--2
        display: none
      &--3
        display: none
      &--4
        display: none
      &--5
        display: none
      &--6
        display: none
  .blog
    &-top
      flex-direction: column
    &-wrapper
      flex-direction: column
  .big
    &-title
      font-size: 16px
      line-height: 20px
    &-description
      font-weight: normal
      font-size: 12px
      line-height: 24px
    &-text
      align-items: start
  .small
    &-description
      align-items: start
    &-image
      margin-right: 20px
      width: 90px
      object-fit: cover
      height: 90px
    &-title
      font-weight: 500
      font-size: 14px
      line-height: 20px
    &-data
      font-size: 10px
      line-height: 20px
  .link
    font-size: 10px
    line-height: 20px
  .subscription
    background-image: url(../img/background.jpg)
    &-title
      font-size: 28px
      line-height: 36px
      width: 100%
      text-align: left
      margin-right: 0
      padding-right: 60px
    &-block
      flex-direction: column
      padding: 0px 24px 80px 0px
    &-item
      margin: 0px 0px 0px 0px
      width: 272px
      align-items: flex-start
    &-input
      margin: 0px 0px 0px 0px
      width: 248px
    &-form
      flex-direction: column
      margin-top: 0
      padding-left: 0
      width: 272px
    &-button
      width: 250px
      height: 42px
      margin-right: 0
      margin-top: 0
    &-icon
      margin-left: 0
  .footer
    padding-top: 0
    &-wrapper
      margin-right: auto
      margin-left: auto
      max-width: 269px
    &__main
      &-item
        margin-top: 45px
        margin-left: 24px
      &-text
        margin-top: 11px
        margin-bottom: 15px
        margin-left: -11px
    &__list
      &-title
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: #183B56
        margin-bottom: 18px
      &-link
        font-size: 14px
        line-height: 20px
      &-item
        margin-bottom: 13px
        &:last-child
          margin-bottom: 0
  .footer
    &-wrapper
      flex-wrap: wrap
    &__main
      &-item
        order: 2
        margin-top: 30px
  .footer
    &-bottom
      display: none
    &-wrapper
      margin-bottom: 0
      justify-content: start
    &__main
      &-item
        display: flex
        flex-direction: column
        margin-left: auto
        margin-right: auto
        align-items: center
        margin-top: 0
      &-text
        text-align: center
  .more
    margin-right: 0
  .footer
      &-bottom
        display: none
      &-wrapper
        margin-bottom: 0
        justify-content: start
      &__main
        &-item
          display: flex
          flex-direction: column
          margin-left: auto
          margin-right: auto
          align-items: center
          margin-top: 0
        &-text
          text-align: center
  .container
    &-subscription
      background-image: url(../img/background.jpg)
      z-index: 99



