.publishers
  background-color: #B3BAC5
  &-title
    color: #fff
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    text-align: center
    margin-bottom: 50px

  &-image
    height: 32px
    width: 190px
    margin-bottom: 50px
  &-wrapper

    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &-block
    padding-top: 60px
    height: 380px