.theme
  margin-bottom: 100px
  &-line
    width: 1140px
    height: 1px
    border: 1px solid #ECEEF2
    margin: 70px 0 60px 0
  &-wrapper
    display: flex
    justify-content: space-between
  &-item
    display: flex
    align-items: center
    flex-direction: column
    width: 265px
    height: 240px
    border: 1px solid #ECEEF2
    box-sizing: border-box
    border-radius: 8px
    padding: 40px 14px 14px 14px
  &-image
    margin-bottom: 40px
  &-title
    margin-bottom: 5px
    margin-top: 0
  &-description
    margin-top: 0
    font-size: 16px
  &-button
    position: absolute
    transform: translateY(79%)
    width: 56px
    height: 56px
    background-repeat: no-repeat
    background-size: 14px
    background-position: center
    border: none
    background-color: #fff
    cursor: pointer
    
    

    
    &--left
      background-image: url(../img/stroke-left.svg)
      left: -28px
      padding-left: 10px
      border-radius: 2000px
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
      
    &--right
      background-image: url(../img/stroke-right.svg)
      right: -1113px
      padding-right: 10px
      border-radius: 2000px
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
      
      